# Heroes Of Pymoli Data Analysis

Data Insights 

* Of the 546 unique players of Heroes of Pymoli, 84% identify as male, 14% identify as female, and 2% identify as other/non-disclosed. 

* The most popular item purchased is "Oathbreaker, Last Hope of the Breaking Storm" with a total of 12 insedividual purchases. 

* Although the male player group had the highest total purchase value at 1967.64 dollars, the male, female, and other/non-disclosed groups had similar average purchase prices of 3.20 dollars (female), 3.02 dollars (male), and 3.35 dollars (other/non-disclosed).

In [38]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "../Heroes-of-Pymoli-Analysis/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
#unique_players = purchase_data["SN"].unique()
unique_players = purchase_data["SN"].unique().tolist()
#print(unique_players)
unique_player_total = len(purchase_data["SN"].unique().tolist())
print(f"Total Players: {unique_player_total}")

Total Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items = purchase_data["Item ID"].unique()

unique_total = len(purchase_data["Item ID"].unique().tolist())


avg_price = purchase_data["Price"].mean()


total_purchases = purchase_data["Price"].count()


total_revenue = purchase_data["Price"].sum()


summary_df = pd.DataFrame({"Number of Unique Items": unique_total , "Average Price": [avg_price], "Number of Purchases":total_purchases, "Total Revenue": [total_revenue] })
summary_df

summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [20]:
unique_df = purchase_data.groupby(["SN","Gender"]).size().reset_index(name="Unique Gender")


gender_count = unique_df["Gender"].value_counts()


player_percent = (gender_count/unique_player_total) * 100


unique_male = unique_df.loc[unique_df["Gender"] == "Male", :]


male_count = unique_male["Gender"].count()


male_percent = (male_count/unique_player_total) * 100


unique_female = unique_df.loc[unique_df["Gender"] == "Female", :]


female_count = unique_female["Gender"].count()


female_percent = (female_count/unique_player_total) * 100


unique_other = unique_df.loc[unique_df["Gender"] == "Other / Non-Disclosed", :]


other_count = unique_other["Gender"].count()


other_percent = (other_count/unique_player_total) * 100

gender_summary_table = pd.DataFrame({"Total Count": gender_count,
                                    "Percentage of Players": player_percent})
gender_summary_table


gender_summary_table.style.format({'Percentage of Players':"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [37]:
gen_purchase_df = purchase_data.groupby(["Gender"])

gen_count = gen_purchase_df["Price"].count()
total_gen = gen_purchase_df["Price"].sum()

sum_pur = gen_purchase_df["Price"].sum()

gen_mean = gen_purchase_df["Price"].mean()

avg_price_gen = sum_pur / gender_count 


gender_purchase_summary_table = pd.DataFrame({"Purchase Count": gen_count,
                                    "Average Purchase Price": gen_mean,"Total Purchase Value": total_gen, "Avg Total Purchase Per Person": avg_price_gen})
gender_purchase_summary_table


gender_purchase_summary_table.style.format({'Average Purchase Price':"${:,.2f}",'Total Purchase Value':"${:,.2f}",'Avg Total Purchase Per Person':"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [21]:
bins = [0, 9, 14, 19, 24, 29,
        34, 39, 100]


# Create labels for these bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34",
                "35-39", "40+"]

unique_df = purchase_data.groupby(["SN","Age"]).size().reset_index(name="Unique Age")
#print (unique_df)

unique_SN = unique_df["SN"].unique()
unique_SN_total = len(unique_SN)


unique_df["Age"]= pd.cut(unique_df["Age"], bins, labels=group_labels)

unique_count = unique_df["Age"].value_counts()

unique_percent = (unique_count / unique_SN_total) * 100


age_summary_table = pd.DataFrame({"Total Count": unique_count,
                                    "Percentage of Players": unique_percent})
age_summary_table

age_summary_table.style.format({"Percentage of Players": "{:.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [39]:
bins = [0, 9, 14, 19, 24, 29,
        34, 39, 100]

group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34",
                "35-39", "40+"]

pd.cut(purchase_data["Age"], bins, labels=group_labels).head()


purchase_data["age group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data.head()

purchase_age_group = purchase_data.groupby("age group")

age_pur_count = purchase_age_group["Price"].count()

age_pur_mean = purchase_age_group["Price"].mean()


total_age = purchase_age_group["Price"].sum()



avg_pur_group = total_age / unique_count


age_purchase_summary_table = pd.DataFrame({"Purchase Count": age_pur_count,"Average Purchase Price": age_pur_mean,"Total Purchase Value": total_age, "Avg Total Purchase Per Person": avg_pur_group})
age_purchase_summary_table

age_purchase_summary_table.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Avg Total Purchase Per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
purchase_by_spender = purchase_data.groupby("SN")

tot_purchase_count_spender = purchase_by_spender["Purchase ID"].count()

avg_purchase_price_spender = purchase_by_spender["Price"].mean()

total_purchase_spender = purchase_by_spender["Price"].sum()

top_spenders_df = pd.DataFrame({"Purchase Count": tot_purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":total_purchase_spender})
 
sorted_spenders = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()

sorted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [35]:
items_only = purchase_data[["Item ID", "Item Name", "Price"]]

item_group = items_only.groupby(["Item ID","Item Name"])

purchase_count_item = item_group["Price"].count()

purchase_value = (item_group["Price"].sum()) 

item_price = purchase_value/purchase_count_item

most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

popular_items_sorted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()


popular_items_sorted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [34]:
popular_sorted_high = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()

popular_sorted_high.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})